*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.card{
    height: 600px;
    width: 400px;
    background-color: grey;
    padding: 15px;
    border-radius: 5px;
}
.content{
    height: 100%;
    width: 100%;
    background-color: #c09950;
    border-radius: 2px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

header{
    margin-top: 20px;
    height: 45px;
    width: 90%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h2{
    color: #fff9f0;
}

h2 span {
    font-size: 2rem;
}
.element{
    width: 35px ;
    height: 35px ;
    background-color: rgb(85, 25, 145);
    border-radius: 50%;
}
figure {
    margin-top: 20px;
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border: 1px solid rgb(0, 0, 0);
}
.bg-figure{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    position: relative;
   
}


.star-container{

    
}
.character-background{

}
.circle{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
   

}


.circle img {
    height: auto;
    width:97%;
  
}
.character {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    transform: translateY(-10%);
    z-index: 3 ;
   
}


.character img{
    width: auto;
    height: 125%;
  
}

.text-container{
    width: 100%;
    height: 100%;
}

.description-container{
    border:  1px solid black;
}